@color-navbar			: #7cb2b7;
@color-blue				: #47a3da;
@brand-aside-primary	: #ffc000;
@stats					: #333;
@green					: #a8c131;
@blue-green				: #2ebcc6;
@blue-grey				: #728FA6;
@yellow					: #feb71f;
@orange					: #E84700;
@text-color-title		: #46494d;
@esper-lvl-one			: #47beda;
@esper-lvl-two			: #36abc6;
@esper-lvl-three		: #2da1bd;
@illu-height			: 298px;

.transition-illu(@time) {
    transition: all @time cubic-bezier(0.64, -0.415, 0.72, 1.335) 0s;
    -moz-transition: all @time cubic-bezier(0.64, -0.415, 0.72, 1.335) 0s;
    -webkit-transition: all @time cubic-bezier(0.64, -0.415, 0.72, 1.335) 0s;
    -o-transition: all @time cubic-bezier(0.64, -0.415, 0.72, 1.335) 0s;
}

.box-shad(){
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
.transition-opa() {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.transition-full-screen() {
    transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
}
.border(){
    border-style: solid; border-color: rgba(255,255,255,0); border-width: 16px 19px 17px 17px;
    -moz-border-image: url([[pix:theme|e-border]]) 54 29 37 22 stretch;
    -webkit-border-image: url([[pix:theme|e-border]]) 54 29 37 22 stretch;
    -o-border-image: url([[pix:theme|e-border]]) 54 29 37 22 stretch;
    border-image: url([[pix:theme|e-border]]) 54 29 37 22 fill stretch;

}

.border-hover(){
    border-style: solid; border-width: 16px 19px 17px 17px;
    -moz-border-image: url([[pix:theme|e-border-hover]]) 54 29 37 22 stretch;
    -webkit-border-image: url([[pix:theme|e-border-hover]]) 54 29 37 22 stretch;
    -o-border-image: url([[pix:theme|e-border-hover]]) 54 29 37 22 stretch;
    border-image: url([[pix:theme|e-border-hover]]) 54 29 37 22 fill stretch;
}
.border-hover-bis(){
    border-style: solid; border-width: 16px 19px 17px 17px;
    -moz-border-image: url([[pix:theme|e-border-hover-bis]]) 54 29 37 22 stretch;
    -webkit-border-image: url([[pix:theme|e-border-hover-bis]]) 54 29 37 22 stretch;
    -o-border-image: url([[pix:theme|e-border-hover-bis]]) 54 29 37 22 stretch;
    border-image: url([[pix:theme|e-border-hover-bis]]) 54 29 37 22 fill stretch;
}
/*.border-button(){
    border-style: solid; border-width: 6px 13px;
    -moz-border-image: url([[pix:theme|button]]) 44 15 51 9 stretch;
    -webkit-border-image: url([[pix:theme|button]]) 44 15 51 9 stretch;
    -o-border-image: url([[pix:theme|button]]) 44 15 51 9 stretch;
    border-image: url([[pix:theme|button]]) 44 15 51 9 fill stretch;
}*/
.rotate(@rotate:0deg){
    -ms-transform: @rotate;
    -webkit-transform:@rotate;
    transform:@rotate;
}

    body {
    background: url([[pix:theme|bg-all]]) no-repeat fixed;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
    color:@text-color-title;
    .transition-illu (700ms);
    h1 {
        font-weight: normal;
        font-family:'LuckiestGuy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
        color: @text-color-title;
        /*text-shadow: 0 1px 0 #000;*/
        font-variant : small-caps;
    }
    h2 {
        font-weight: normal;
        font-family:'LuckiestGuy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
        color: @text-color-title;
        /*text-shadow: 0 1px 0 #000;*/
        font-variant : small-caps;
    }
    h3 {
        font-weight: normal;
        margin: 0;
        font-family:'LuckiestGuy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
        color: @text-color-title;
        /*text-shadow: 0 1px 0 #fff;*/
        font-variant : small-caps;
    }
    p {
        font-family: sans-serif;
    }
    a, a:visited {
        /*color: @yellow;*/
        font-family: sans-serif;
    }
    /*button*/
    .btn,input[type="button"], input[type="submit"], input[type="reset"] , input[type="reset"]{
        background: @color-blue;
        color: #fff;
        cursor: pointer;
        border: 0;
        margin: 0;
      /* margin applied for module lesson */
      margin-top:5px;

        &:hover{
            background:darken(@color-blue, 10%);
            color: white;
            border-bottom-width: 0;
            border: 0;
            margin: 0;
        /* margin applied for module lesson */
        margin-top:5px;
        }
        input.form-submit{
        }
    }
    #page.container-fluid{
        .transition-illu (700ms);
        .breadcrumb {
        border: 0;
            background-color: @color-blue;
            a{color: white;}
        }
        #page-content{
        left: 0;
        margin: 0;
        .transition-illu (700ms);
        #region-main{
            .transition-illu (700ms);
        }
        }
    }
    &.zoomin {
        background: white;
        .transition-illu (700ms);
        #page.container-fluid{
        background: white;
        .transition-illu (700ms);
        max-width: 100%;
        border: 0;
        #page-content{
            .transition-illu (700ms);
            border: 0;
            #region-main{
            background: transparent;
            border: 0;
            .transition-illu (700ms);
            }
        }
        }
        #page-header h1, #page-footer{
          bottom: -1em;
          width: 100%;
          display: inherit;
          margin-bottom: -150px;
          overflow: hidden;
          padding-bottom:2em;
          .transition-full-screen;
        }
    }
    #page-footer{
        background: #333;
        border: 0;
        bottom: 0;
        left: 0;
        position: inherit;
        width: 100%;
        .transition-full-screen;
    }
    /*zonetext search*/
    .box.mdl-align{
        #coursesearch .input-group > .form-control{
        min-height:53px;
        min-width: 500px;
        border: 2px solid @color-blue;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        .form-inline {}
        }
    }
    #coursesearch .input-group > .form-control, .footer form input[type="text"]{
        min-height:53px;
        border: 2px solid @color-blue;
    }

    /*title-login*/
    .navbar.navbar-default{
        z-index: 1;
        background-image:none;
        margin: 0;
        border: 0px;
        border-radius: 0px;
        &.home {
        background: transparent no-repeat top center;
        }
        ul.navbar-right{
        background-color: white;
        list-style: none;
        opacity: .6;
        border-radius: .3em;
        margin: 1em 0 0 0;
        transition: all 0.3s ease 0s;
        &:hover {
            opacity: 1;
            transition: all 0.3s ease 0s;
        }
        }
    }
    .stats2 {
        padding: 1em;
        /*background-color: #333; */
        color: #fff;
        padding: 10em auto;
        text-align: center;
        font-family: 'Conv_GeosansLight', sans-serif;
        h1,h2{

            color: @blue-grey;
            text-shadow: none;
        }
    }

    .panel, .block, .forumpost {
        border-radius: 0px;
        border-width: 1px;
    }
    #dock {
        z-index:20;
    }
    /*header visual*/



    .illu{
        /*position: absolute; */
        width: 100%;
        .headerIllu{
        background-image: url([[pix:theme|sky]]);
        position: relative;
        display: block;
        margin: 0px auto;
        height: @illu-height;
        .transition-illu (1000ms);
        background-position: center -100px;
        figure {
            margin: 0px;
        }



        .headerLogo{
            width: 320px;
            height: 228px;
            background-image:url([[pix:theme|logo]]);
            .transition-illu (700ms);
            background-size: 300px auto;
            position: relative;
            margin: 0 auto;
            z-index: 6;
            background-repeat: no-repeat;
            background-position: center center;
            text-indent: -999em;
            direction: ltr;
            display: block;
        }
        .grass-2plan{
            background-image:url([[pix:theme|grass]]);
            .transition-illu (900ms);
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            background-position: center 60px;
            background-repeat: no-repeat;
            z-index: 5;
        }
        .grass-3plan-left{
            background-image:url([[pix:theme|grass-left]]);
            background-repeat: no-repeat;
            .transition-illu (900ms);
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            background-position:-10px 163px;
            z-index: 6;
        }
        .grass-3plan-right{
            background-image:url([[pix:theme|grass-right]]);
            background-repeat: no-repeat;
            .transition-illu (900ms);
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            background-position: right -14px bottom -12px;
            z-index: 6;
        }
        .sky-4plan-left{
            background-image:url([[pix:theme|cloud-left]]);
            background-repeat: no-repeat;
            .transition-illu (800ms);
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            background-position: -10px -10px;
        }
        .sky-4plan-right{
            background-image:url([[pix:theme|cloud-right]]);
            background-repeat: no-repeat;
            .transition-illu (800ms);
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            background-position:right -10px bottom -120px;
        }
        &:hover{
            background-position: center -80px ;
            .transition-illu (1000ms);
            .headerLogo {
                background-size: 330px auto;
                .transition-illu (700ms);
            }
            .grass-2plan {
                .transition-illu (1000ms);
                background-position: center 30px ;
            }
            .grass-3plan-left {
            .transition-illu (600ms);
            opacity: .8;
            background-position:-30px 180px;
            }
            .grass-3plan-right {
            .transition-illu (600ms);
            opacity: .8;
            background-position:right -30px bottom -30px;
            }
            .sky-4plan-left {
            opacity: .5;
            .transition-illu (1200ms);
            background-position:-30px -30px;
            }
            .sky-4plan-right {
            opacity: .5;
            .transition-illu (1200ms);
            background-position:right -30px top -139px;
            }
        }
        }/*end of headerIllu*/
    }/*end of header visual*/
    /*menu button*/
    #settingsnav>ul>li.contains_branch>ul {
        /*menu 2eme niveaux*/
        position: absolute;
        left: 300px;
        top: -200px;
        width: 300px;
        margin-top: 0px;
        padding-left: 0px;
        >li.contains_branch>ul {
        /*menu 3eme niveaux*/
        top: 0px;
        width: 300px;
        left: 300px;
        position: absolute;
        padding-left: 0px;
        >li.contains_branch>ul {
            /*menu 4eme niveaux inexistant*/
            top: 0px;
            left: 0px;
            width: 300px;
            position: relative;
            padding-left: 0px;
        }
        }
    }
    #showRight {
        background:url([[pix:theme|menu]]) right no-repeat @color-blue;
        border: 0;
        position: fixed;
        top: 0px;
        right: 0px;
        margin: .5em;
        padding-left: 10px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position:70% top;
        .transition-illu (300ms);
        z-index: 2000;
        &.close {
        position: inherit;
        background: white;
        }
        h3{
        color: white;
        margin: 0 40px 0 0;
        }
        /*&:hover{
        background:url([[pix:theme|menu]]) right no-repeat darken(@color-blue, 10%);
        background-position:right bottom;
        .transition-illu (300ms);
        }*/
    }/*end of menu button*/
    #myDashboard {
        background:url([[pix:theme|menu]]) right no-repeat @color-blue;
        background: @color-blue;
        margin: 6px;
        font-weight: normal;
        width: auto;
        position: absolute;
        right:130px;
        height: 50px;
        background-repeat: no-repeat;
        background-position:right top;
        border-width: 0px;
        .transition-illu (300ms);
        z-index: 2000;
        border-radius: 5px;
        &.close {
        position: inherit;
        background: white;
        }
        &:hover{
        background: darken(@color-blue, 10%);
        /*background:url([[pix:theme|menu]]) right no-repeat darken(@color-blue, 10%);*/
        background-position:right bottom;
        .transition-illu (300ms);
        }
        a {
        font-family:'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
        color: white;
        text-shadow: 0 1px 0 #fff;
        padding: 10px;
        display: block;
        width:100%;
        height: auto;
        &:hover {
            text-decoration: none;
        }
        }
    }/*end of menu button*/
    #cbp-spmenu-s2 {
        background: @esper-lvl-one;
        padding-top: 4em;
        h2{
        padding-left: 14px;
        color: white;
        }
        a,.contains_branch,.item_with_icon {
        color: #fff;
        font-size: 1em;
        border-bottom: 1px solid #258ecd;
        padding: .5em;
        color: white;
        text-decoration: none;
        display: block;
        &:hover {
            background:#258ECD;
        }
        }
        #inst1{
        margin: 0;
        .footer{
            margin: 0;
            a{text-align: left;}
        }
        }
        li.type_unknown{
        margin: 0;
        /*border: 1px dotted red;*/
        #frontpagesettings{background-image: none;/*border: 1px double yellow*/;}
        .navigation_node{
            /*border: 1px double blue;*/
            a{padding: 0;border-bottom: 0;/*border: 1px double white*/;}
        }
        }
        /*item separator and icons plus*/
        hr/*,.header*/ {display: none;}
        /*item accueil*/
        .block_navigation{
        margin-bottom: 0;
        .block_tree{
            .tree_item.branch{background-image: none;}
        }
        }
        .adminsearchform{margin-top: 1em;}
        #moodle-navbar{
        padding: 0;
        .navbar-right {
            > li{float: none;}
            float: none !important;
            margin-right: 0;
            .dropdown {
            .dropdown-menu{
                .transition-opa;
                left: 100%;
            }
            }
            .dropdown.open{
            background-color:@esper-lvl-one;
            .transition-opa;
            > a, > a:hover, > a:focus{
                background-color:@esper-lvl-one;
            }
            .dropdown-menu{
                background-color:@esper-lvl-one;
                left: -160px;
                right: auto;
            }
            }
        }
        }
        .content {
        padding:0;
        .block_tree.list{
            margin: 0;
        }
        .contains_branch {
            position: relative;
            .collapsed,.item_with_icon{
            /*all last item link menu*/
            a {
                padding: 0;
                border-bottom:0;
            }
            }
        }
        }
        .header {
        padding: 0;
        /*border:1px double #ff00ff; violet*/
        .moodle-actionmenu{
            position: absolute;
            right: 0;
            z-index: 2000;

            .commands {text-align: left;}
        }
        .block_action,h2{display: none;}
        .menubar{
            /*border:1px double orange;*/
            .moodle-core-dragdrop-draghandle{display: none;}
            li{
            a{
                padding: 0;
                border-bottom:0;
                /*border:1px dotted yellow;*/
                &:hover{
                background: none;
                }
            }
            }
        }
        }
        .col-lg-pull-10  {
        right: inherit;
        position: relative;
        padding: 0;
        width: inherit;
        }
        .block .header{
        border-bottom: 0px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: transparent;
        }

    }
    /* General styles for all menus */
    #menubody{
        background-color: @esper-lvl-three;
        position: fixed;
        right:0px;
        height: 100%;
        top: 0;
        z-index: -10;
        &.open {
        z-index: 1000;
        opacity: 1;
        }
        opacity: 0;
    }
    .cbp-spmenu {
        background: #47a3da;
        position: relative;
        width: 300px;
        height: 100%;
        padding-top: 0;
        top: 0px;
        right: 0px;
        z-index: 1000;
    }

    #menulevel2 {
        background: @esper-lvl-two;
        position: relative;
        width: 300px;
        height: 100%;
        padding-top: 0;
        top: 0px;
        right: 0px;
        z-index: 1000;
    }

    .cbp-spmenu h3 {
        color: #afdefa;
        font-size: 1.9em;
        padding: 20px;
        margin: 0;
        font-weight: 300;
        background: #0d77b6;
    }



    .cbp-spmenu a:hover {
        background: #258ecd;
    }

    .cbp-spmenu a:active {
        background: #afdefa;
        color: #47a3da;
    }

    /* Push classes applied to the body */

    .cbp-spmenu.cbp-spmenu-push-toleft {
        right: 300px;
    }

    #menulevel2.push-toleft {
        right: 300px;
        width: 300px;
    }

    .cbp-spmenu.cbp-spmenu-push-toleft2 {
        right: 480px;
    }
    #cbp-spmenu-s2 .col-lg-pull-10 {
            right: initial;
            position: initial;
        }
    /* Transitions */
    .cbp-spmenu,
    #menubody, #menulevel2 {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }/*end menu slide*/
    /*cours disponible*/
    #frontpage-course-list,#frontpage-category-names{
        display: block;
        clear: both;
        .paging-morelink{
        clear: both;
        }
        a{
        display: block;
        padding: .5em;
        }
        .coursebox{
        /*float: left;
        margin-left: 1.5em;*/
        height: 298px;
        background-color: transparent;
        overflow:hidden ;
        transform: scale(0.95);
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
        .border;
        &:hover{
            .border-hover;
            transform: scale(1);
            .transition-opa;
            .imagebox{
            margin-top: -256px;
            }
            .panel-heading{
            background-color: @color-blue;
            a{
                color: white;
            }

            }
            .panel-heading~.panel-body .visitlink{
            background-color: @color-blue;
            border-color: @color-blue;
            }
        }
        .panel-heading{
            background-color: white;
            border-radius: 0;
            position: absolute;
            max-height: 39px;
            width: 100%;
            display: inline-flex;
            padding:0;

            .coursename{
            height: 2em;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            margin: .5em 0;
            a{
                font-size: initial;
                font-family:'LuckiestGuy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
                font-size: 1.5em;
                 padding:0;
            }
            }
        }
        .panel-body{
            padding: 0;
            .autolink {
            color: white;
            background-color: @color-blue;
            margin: .25em;
            padding: .5em;
            text-align: center;
            display: inline-block;
            /*border-radius: 4px;*/
            }
            &:hover {
            padding: 0 5px 0;
            .visitlink{
                background-color: @green;
                border-top: 1em @green solid;
            }

            }
            .imagebox{
            min-width:100%;
            max-height:290px;
            .transition-illu (600ms);
            overflow: hidden;
            img.courseimage{
                min-width:100%;
                margin: 0;
                border-radius:0;
                background-size:cover;
                min-height:290px;
            }
            }
            .teachers{
            background-color: white;
            padding: 0.5em;
            }
            .visitlink{
            background-color: white;
            display:block;
            position:sticky;
            bottom: 0;
            margin: 1em 0 0 0;
            padding:0;
            border-top:1em solid white;
            a{
                background: @color-blue;
                color: white;
                display: table-cell;
                border-radius: 5px;
            }
            }
        }
        }/*end cours-box*/
    }/*end cours disponible*/
    #frontpage-course-list,#frontpage-category-names{
        /*background:url([[pix:theme|separateur]]) top no-repeat ;*/
        margin-left: -35px;
        margin-right: -35px;
        padding: 20px 20px 0;
        h2 {
        margin-top: 0;
        }
    }
    .panel, .block, .forumpost{
        border: 0px solid transparent;
        border-radius:0;
        background-color: transparent;
        box-shadow: none;
    }
    }/*end of body*/

/*home default*/
.navbar-default {
    background-color: @green;
    min-height: 62px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: none;
}


.buttons-homepage {
    padding:10px;
    text-align: center;
    list-style-type: none;
    li {
        transition: 1s;
        background: #f6961d; /* Old browsers */
        background: linear-gradient(to bottom, #f6961d 0%,#e84801 100%); /* W3C */
        font-size: 2em;
        font-weight:700;
        color: white;

                /* produce a bad visual effect when mouse come over */
                /*border-top: 4px solid #ecac5f;*/
        margin: 10px;
        border-radius : 50px;
        a {
            font-family: 'Conv_GeosansLight', sans-serif;
            display:inline-block;
            width:100%;
            height:100%;
            color: white;
            text-decoration: none;
            padding : 15px;
            span {
                padding:10px;
                border-radius:50px;
                display:inline-block;
                width:100%;
                background: linear-gradient(to bottom, #f6961d 0%,#e84801 100%);
                border-top: 2px solid #ecac5f;
                box-shadow: 0px 7px 10px 2px #a72001;
            }

        }
    }
    li:hover {
        a {
            color: black;
        }
    }

}

.loginbox {
    border-radius: 3px;
    background-image: none;
    .form-group;

    &.onecolumn  {
        .make-sm-column(6);
        .make-sm-column-push(3);
        .make-md-column(4);
        .make-md-column-push(4);
        .well;
        background-image: none;
    }

    &.twocolumns .loginpanel {
        .make-sm-column(4);
        .make-lg-column(3);
        .well;
    }

    &.twocolumns .signuppanel {
        .make-sm-column(7);
        .make-sm-column-push(1);
        .make-lg-column(8);
        .make-lg-column-push(1);
    }

    .loginform {
        .form-label {
            text-align: left;
            width: 100%;
            margin-bottom: 5px;
        }
        .form-input {
            width: 100%;
            margin-bottom: 5px;
            input[type="text"],
            input[type="password"] {
                .form-control;
                width: 100%;
                max-width: none;
            }
            input[type="submit"] {
                margin: 10px 0 0;
            }
        }
    }
    input[type="submit"] {
        margin: 0px 0 0;
    }
    .desc {
        line-height: 30px;
        color: @text-color;
    }

    .subcontent {
        padding: 0;
        margin: 0;
    }
}



.block_settings .block_tree .tree_item {
    margin: 0px 0px;

}
.block_settings .block_tree ul {
    margin-left:0;
}
body #cbp-spmenu-s2 .content .contains_branch {
    padding:0px;
}

body #cbp-spmenu-s2 .content .contains_branch span{
    padding:3px;
    display:inline-block;
}

.editsectionsummary {
    position: absolute;
    top:10px;
    right:10px;
    z-index:100;
}

.no-overflow{
    overflow: hidden;

}
.generalbox{
  background-color: #f9f9f9;
}

/*@media device size*/

@media (max-width: 1200px) {
}

@media (min-width:767px) and (max-width:979px){
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
}

@media (max-width: 640px) {
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
}

video {
    max-width:420px;
    width:100%;
    height: auto;
}
audio {
    max-width:420px;
    width:100%;
    /* remove height auto because iPad does not support it ! */
    /*height: auto;*/
}
/* remove last update date in module page */
.modified {
    display : none;
}
.yui3-menu-content ul {
    list-style: none;
}
.alert-info, .alert-danger, .panel-heading {
    background-image: none;
}
button {
    background-image: none;
}

.path-mod-lesson .answeroptiongroup .fgroup > span {
    display:inline-block;
}

/* fix for grade/report/grader/index.php page that is hidding table columns */
.gradeparent {
    overflow : auto;
}

/* users'email is not unique so useless to retrieve passwd */
#id_searchbyemail {
    display: none;
}

/* error in white when you reset your password */
.felement.fpassword.error {
    background-color: #FF4136;
}

#moodle-navbar .navbar-nav {
    margin: 0;
}

.lessonbutton:contains(Retour) {
  display:none;
}
.lessonbutton {
  display: block;
  margin: 0;
  margin-top: 5px;
  margin-right: 5px;
  color: #fff;
  background: #288bc6;
  border: 0;
  border-radius: 3px;
  border-bottom-width: 0;
  padding: 5px;
  display: inline;

}
.lessonbutton a {
  color: white;
}
/* bugfix #284 */
.img-responsive {
  display: initial;
}

.atto_image_button_center {
  margin: 0 auto;
  display: block;
}
.item-content-wrap {
  padding-left: 20px !important;
}

/* fix issue #272 - overload pink and green workshop module buttons */
.path-mod-workshop input[type="submit"] {
    background-color: #47a3da !important;
}

/* bugfix elea/platform#286 */
.pagelayout-admin .show {
  display: block !important;
}

.elea-my-grades {
  background-image:url([[pix:theme|grades]]);
  display: inline-block;
  height: 16px;
  width: 16px;
}
.elea-my-messages {
  background-image:url([[pix:theme|email]]);
  display: inline-block;
  height: 16px;
  width: 16px;
}

/* bugfix elea/platform#347 + elea/platform#366 - overload padding:0 on ul,ol*/
.editor_atto_content, #region-main{
    ul, ol {
        padding-left: 18px;
    }
    table {
        ul, ol{
        font-weight: initial;
        }
    }
    .navbar{
        ul, ol {
            padding-left: 0;
        }
    }
}

/* bugfix elea/platform#329 */
.formulation .answer {
    input.correct, input.incorrect {
        color: black;
    }
}

/* bugfix elea/platform#437 */
.path-mod-lesson, .path-mod-page, .path-mod-forum {
    #region-main{
        background-color: #f9f9f9;
    }
}

/* fix elea/platform#438 */
#page-mod-url-view, #page-mod-resource-view {
    div[role=main] {
        display: flex;
        flex-direction: column;
        .resourcecontent {
            order: 1;
        }
    }
}

/* fix elea/platform#449 */
#page-mod-lesson-edit{
    .edit_pages_box .c0 .label {
        color: #46494d;
    }
}

/* fix elea/platform#510 */
.lessonbutton a {
    padding: initial;
    margin: auto;
    background: transparent;
}

/* fix elea/platform#537 */
.forumheaderlist .media-body {
    width: fit-content;
}

/* fix elea/platform#539, prevent uppercase for dialog box (when choosing special characters) */
.moodle-dialogue-bd button {
    text-transform: none;
}

/* fix elea/platform#544, correct mathjax filter position (horizontally centered) */
.answeroption .filter_mathjaxloader_equation {
    position: absolute;
}

.logos {
    width: 100%;
    z-index:1000;
    display: flex;
    flex-flow: row;
    background: white;
    align-items: center;
}

.marque-etat {
    margin: 10px;
}

.marque-etat img {
    height: 120px;
}

.logo-dane {
    justify-self: flex-end;
}

.logo-dane img {
    width: 80px;
    height: auto;
}