@font-face {
    font-family: 'coolveticaregular';
    src: url([[font:theme|coolvetica_rg]].eot);
    src: url([[font:theme|coolvetica_rg]].eot#iefix) format('embedded-opentype'),
        url([[font:theme|coolvetica_rg]].woff2) format('woff2'),
        url([[font:theme|coolvetica_rg]].woff) format('woff'),
        url([[font:theme|coolvetica_rg]].svg#coolveticaregular) format('svg');
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url([[font:theme|LuckiestGuy]].eot);
    src: url([[font:theme|LuckiestGuy]].eot#iefix) format('embedded-opentype'),
        url([[font:theme|LuckiestGuy]].woff2) format('woff2'),
        url([[font:theme|LuckiestGuy]].woff) format('woff'),
        url([[font:theme|LuckiestGuy]].svg#coolveticaregular) format('svg');
}

@font-face {
    font-family: 'Conv_GeosansLight';
    src: url([[font:theme|GeosansLight]].eot);
    src: url([[font:theme|GeosansLight]].woff) format('woff'),
        url([[font:theme|GeosansLight]].svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
