/*Animation Epique header*/
@-moz-keyframes bouncing {
  40%,70%,90% {
    -moz-animation-timing-function: ease-out;
    bottom: 0;
  }
  0% {
    opacity: 0;
    left: -2000px;
    -moz-animation-timing-function: ease-in;
  }
  55% {
    -moz-animation-timing-function: ease-in;
  }
  80% {
    -moz-animation-timing-function: ease-in;
  }
  95% {
    -moz-animation-timing-function: ease-in;
  }
  100% {
    opacity: .7;
    left: 0;
    -moz-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bouncing {
    40%,70%,90% {
     -webkit-animation-timing-function: ease-out;
    }
    0% {
     opacity: 0;
     left: -2000px;
     -webkit-animation-timing-function: ease-in;
    }
    55% {
      -webkit-animation-timing-function: ease-in;
    }
    80% {
      -webkit-animation-timing-function: ease-in;
    }
    95% {
      -webkit-animation-timing-function: ease-in;
    }
    100% {
      left: 0;
      opacity: .7;
      -webkit-animation-timing-function: ease-out;
    }
}
    
@-ms-keyframes bouncing {
    40%,70%,90% {
      -ms-animation-timing-function: ease-out;
    }
    0% {
      opacity: 0;
      left: -2000px;
      -ms-animation-timing-function: ease-in;
    }
    55% {
      -ms-animation-timing-function: ease-in;
    }
    80% {
      -ms-animation-timing-function: ease-in;
    }
    95% {
      -ms-animation-timing-function: ease-in;
    }
    100% {
      opacity: .7;
      left: 0;
      -ms-animation-timing-function: ease-out;
    }
}
    
    @keyframes bouncing {
40%,70%,90% {
bottom: 0;
animation-timing-function: ease-out;
}
0% {
opacity: 0;
left: -2000px;
animation-timing-function: ease-in;
}
55% {
animation-timing-function: ease-in;
}
80% {

animation-timing-function: ease-in;
}
95% {
left: 50px;
animation-timing-function: ease-in;
}
100% {opacity: .7;
left: 0;
animation-timing-function: ease-out;
}
}


@-moz-keyframes bouncing-reverse {
    40%,70%,90% {
    -moz-animation-timing-function: ease-out;
    bottom: 0;
    }
    0% {
        opacity: 0;
        right: -2000px;
        -moz-animation-timing-function: ease-in;
    }
    55% {
        
        -moz-animation-timing-function: ease-in;
    }
    80% {
    -moz-animation-timing-function: ease-in;
    }
    95% {
        right:50px;
    -moz-animation-timing-function: ease-in;
    }
    100% {
    opacity: .7;
    right: 0;
    -moz-animation-timing-function: ease-out;
    }
        }
        
        @-webkit-keyframes bouncing-reverse {
    40%,70%,90% {
    -webkit-animation-timing-function: ease-out;
    }
    0% {
        opacity: 0;
        right: -2000px;
        -webkit-animation-timing-function: ease-in;
    }
    55% {
        
        -webkit-animation-timing-function: ease-in;
    }
    80% {
    -webkit-animation-timing-function: ease-in;
    }
    95% {
        right:50px;
    -webkit-animation-timing-function: ease-in;
    }
    100% {opacity: .7;
    right: 0;
    -webkit-animation-timing-function: ease-out;
    }
        }
        
        @-ms-keyframes bouncing-reverse {
    40%,70%,90% {
    -ms-animation-timing-function: ease-out;
    }
    0% {
        opacity: 0;
    right: -2000px;
    -ms-animation-timing-function: ease-in;
    }
    55% {
        
        -ms-animation-timing-function: ease-in;
    }
    80% {
    -ms-animation-timing-function: ease-in;
    }
    95% {
        right:50px;
    -ms-animation-timing-function: ease-in;
    }
    100% {opacity: .7;
    right: 0;
    -ms-animation-timing-function: ease-out;
    }
        }
        
        @keyframes bouncing-reverse {
    40%,70%,90% {
    bottom: 0;
    animation-timing-function: ease-out;
    }
    0% {
    opacity: 0;
    right: -2000px;
    animation-timing-function: ease-in;
    
    }
    55% {
    
    animation-timing-function: ease-in;
    }
    80% {
    animation-timing-function: ease-in;
    }
    95% {
    right: 50px;
    animation-timing-function: ease-in;
    }
    100% {opacity: .7;
    right: 0;
    animation-timing-function: ease-out;
    }
}


/*animation button completion & teachboard */

@-moz-keyframes scaling {
    
    40%,70%,90% {
        -moz-animation-timing-function: ease-out;
    }
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
        transform: scale(0.5);
    }
    50% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
        transform: scale(0.5);
    }
    80% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
        transform: scale(1);
    }
}

@-webkit-keyframes scaling {
    40%,70%,90% {
        -webkit-animation-timing-function: ease-out;
    }
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        transform: scale(0.5);
    }
    55% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        transform: scale(0.5);
    }
    80% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        transform: scale(0.5);
    }
    95% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        transform: scale(1);
    }
}

@-ms-keyframes scaling {
    40%,70%,90% {
        -ms-animation-timing-function: ease-out;
    }
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
        transform: scale(.5);
    }
    55% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
        transform: scale(.5);
    }
    80% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
        transform: scale(.5);
    }
    95% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        -ms-animation-timing-function: ease-out;
        transform: scale(1);
    }
}
        
@keyframes scaling {
    40%,70%,90% {
    animation-timing-function: ease-out;
    }
    0% {
    animation-timing-function: ease-in;
    }
    55% {
    animation-timing-function: ease-in;
    }
    80% {
    
    animation-timing-function: ease-in;
    } 
    95% {
    opacity: 0;
    animation-timing-function: ease-in;
    }
    100% {
    opacity: 1;
    animation-timing-function: ease-out;
    transform: scale(1);

    }
}
