{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/chooser

    Chooser.

    Example context (json):
    {
        "title": "Chooser title",
        "method": "post",
        "actionurl": "http://example.org/test",
        "instructions": "Choose one:",
        "paramname": "param",
        "sections": [{
            "id": "section-1",
            "label": "Section one",
            "items": [{
                "label": "item one",
                "description": "description one"
            }]
        }]
    }
}}
<div class="hd choosertitle">
    {{title}}
</div>

<div class="chooserdialoguebody">
    <div class="choosercontainer">
        <div id="chooseform">

        <fieldset style="padding-top:10px;text-align:center;">
            <input style='min-width:40px' onclick='noobMode()' type='radio' name='lolo' id='toto' >
            <label for='toto'>Mode simple</label>
            <input style='min-width:40px' name='lolo' onclick='expertMode()' type='radio' id='titi'>
            <label for='titi'>Mode avancé</label>
        </fieldset>

        <script>
          var noobMode = function(){
            localStorage.setItem('noobMode','on');
            document.getElementById('toto').setAttribute('checked', 'checked');
            var items = document.getElementsByClassName('option');
            for ( var i=0;i < items.length;i++) {
              items[i].style.display='none'
            }
            // For module choice
              if ( document.getElementById('item_epikmatching') ) {
                  document.getElementById('item_epikmatching').parentNode.parentNode.style.display='block';
                  document.getElementById('item_millionnaire').parentNode.parentNode.style.display='block';
                  document.getElementById('item_simpleqcm').parentNode.parentNode.style.display='block';
                  document.getElementById('item_assign').parentNode.parentNode.style.display='block';
                  document.getElementById('item_page').parentNode.parentNode.style.display='block';
              }

            // For quiz test choice
              if ( document.getElementById('item_qtype_multichoice') ) {
                  document.getElementById('item_qtype_multichoice').parentNode.parentNode.style.display='block';
                  document.getElementById('item_qtype_truefalse').parentNode.parentNode.style.display='block';
                  document.getElementById('item_qtype_match').parentNode.parentNode.style.display='block';
                  document.getElementById('item_qtype_shortanswer').parentNode.parentNode.style.display='block';
                  document.getElementById('item_qtype_numerical').parentNode.parentNode.style.display='block';
                  document.getElementById('item_qtype_calculatedsimple').parentNode.parentNode.style.display='block';
                  document.getElementById('item_qtype_description').parentNode.parentNode.style.display='block';
              }
          }
          YUI().use('node-base', function(Y){
            Y.on('domready', function(){
              if (localStorage.getItem('noobMode') === null)
                {document.getElementById('toto').click();}
              else if (localStorage.getItem('noobMode') == 'on')
                {document.getElementById('toto').click();}
              else
                {document.getElementById('titi').setAttribute('checked', 'checked');}
            })
          })
        
          var expertMode = function(){
            localStorage.setItem('noobMode','off')
            var items = document.getElementsByClassName('option')
            for(var i=0;i < items.length;i++) {
              items[i].style.display='block'
            }
          }
        </script>





            <form action="{{actionurl}}" id="chooserform" method="{{method}}">
                <div id="typeformdiv">
                    {{#params}}
                        <input type="hidden" id="{{id}}" name="{{name}}" value="{{value}}">
                    {{/params}}
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                </div>

                <div class="options">
                    <div class="instruction">
                        {{instructions}}
                    </div>
                    <div class="alloptions">
                        {{#sections}}
                            <div class="moduletypetitle">
                                <label for="item_{{id}}">
                                    <span class="typename">{{label}}</span>
                                </label>
                            </div>
                            {{#items}}
                                {{>core/chooser_item}}
                            {{/items}}
                        {{/sections}}
                    </div>
                </div>

                <div class="submitbuttons">
                    <input type="submit" name="submitbutton" class="submitbutton btn btn-primary" value={{#quote}}{{#str}}add{{/str}}{{/quote}}>
                    <input type="submit" name="addcancel" class="addcancel btn btn-secondary" value={{#quote}}{{#str}}cancel{{/str}}{{/quote}}>
                </div>

            </form>
        </div>
    </div>
</div>
