@import url("jquery-ui.css");
@import url("jquery-ui.structure.css");
@import url("jquery-ui.theme.css");
/* Used to override Jquery UI popup */
.ui-dialog{
    max-width:700px;
    padding:0px;
    border:0px;
    background : #F5EFEF;
}
.ui-widget.ui-widget-content {
    border:0px;
}
.ui-dialog-titlebar {
    border-radius:0px;
    margin:0px;
    background: none;
    background-color: #718DA3;
    color: white;
    font-family: LuckiestGuy,Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
    font-weight: 400;
    font-size:2em;
    border:0px;
}
.ui-button, .ui-button:hover, .ui-button:focus {
    background: none;
    background-color: #48A3DA;
    color: white;
    font-weight:700;
    padding: 10px;
}
.ui-dialog-titlebar-close, .ui-dialog-titlebar-close:hover {
    background: none;
    background-color: transparent;
    color: white;
    border: 0px;
}
.ui-dialog .ui-dialog-buttonpane {
    border-width:0px;
    background : #F5EFEF;
}

.delete_group {
    cursor: pointer;
}
